<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <script src="/static/blog.js"></script>

  <title>bee's blog</title>
</head>

<body>
  <div class="header-area">
    <div>
      <a href="/blog" class="main-title">bee's blog</a>
    </div>
      <div class="login-area">
        {% if user %}
          <a class= "login-link" href="/user">{{ user.name }}</a> (<a class="login-link" href="/logout">logout</a>)
          <br>
          <a class="login-link" href="/blog/newpost">new post</a>
          <div>
            <img src="{{ user.avatar }}" style = "width: 100px; height: 30px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;">
          </div>
        {% else %}
          <a class="login-link" href="/login">login</a>
          |
          <a class="login-link" href="/signup">signup</a>
        {% endif %}
      </div>
    </div>
  <!-- using Bootstrap container for the posts area -->
  <div class="container">
        {% block content %}
        {% endblock %}
  </div>
  <br><br>
</body>
</html>

